<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- ==================== -->
    <!--        入口          -->
    <!-- ==================== -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filters">
            <map>
                <entry key="watchDog" value-ref="watchDog"/>
                <entry key="apiGuard" value-ref="apiGuard"/>
                <entry key="apiAuth" value-ref="apiAuth"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /** = watchDog, apiGuard, apiAuth
            </value>
        </property>
    </bean>
    <!-- ==================== -->
    <!--                      -->
    <!-- ====================
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
    -->
    <!-- ==================== -->
    <!--      安全管理器       -->
    <!-- ==================== -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--<property name="realm" ref="customRealm"/>-->
        <property name="subjectFactory" ref="customSubjectFactory"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="subjectDAO" ref="defaultSubjectDAO"/>
    </bean>
    <!-- Subject DAO -->
    <bean id="defaultSubjectDAO" class="org.apache.shiro.mgt.DefaultSubjectDAO">
        <property name="sessionStorageEvaluator" ref="defaultSessionStorageEvaluator"/>
    </bean>
    <!-- Session Storage Evaluator -->
    <bean id="defaultSessionStorageEvaluator" class="org.apache.shiro.mgt.DefaultSessionStorageEvaluator">
        <property name="sessionStorageEnabled" value="false"/>
    </bean>
    <!-- ==================== -->
    <!--      Subject工厂     -->
    <!-- ==================== -->
    <bean id="customSubjectFactory" class="com.company.project.auth.extend.CustomSubjectFactory"/>
    <!-- ==================== -->
    <!--       会话管理器      -->
    <!-- ==================== -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionValidationSchedulerEnabled" value="false"/>
    </bean>
    <!-- ==================== -->
    <!--       Realm实现      -->
    <!-- ==================== -->
    <!--<bean id="customRealm" class="com.company.project.auth.realm.CustomRealm">-->
    <!--<property name="cachingEnabled" value="false"/>-->
    <!--</bean>-->
    <!-- ==================== -->
    <!--      过滤器定义       -->
    <!-- ==================== -->
    <bean id="watchDog" class="com.company.project.auth.filter.WatchDog"/>
    <bean id="apiGuard" class="com.company.project.auth.filter.ApiGuard"/>
    <bean id="apiAuth" class="com.company.project.auth.filter.ApiAuth"/>
</beans>